body {
    font-family: 'Lexend', sans-serif;
}

.ytOverlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    color: white;
    z-index: 1000;
}

.ytOverlay iframe {
    width: 850px;
    height: 480px;
    opacity: 1 !important;
}

.wrapYt {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.ytClose {
    position: absolute;
    right: 22px;
    top: 36px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

@media only screen and (max-width: 640px) {
    .ytOverlay iframe {
        width: 90vw;
        height: calc(90vw * 0.56);
        opacity: 1 !important;
    }
}